/*Media query for screens bigger than 768 pixels*/

@media(min-width: 768px) {
	nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	nav ul li {
		border: none;
	}
	header h1 {
		font-size: 70px;
	}
	#body-header-content p {
		position: relative;
		text-align: center;
	}
	#inner-header-content p {
		position: relative;
		text-align: center;
	}
	#social_content p {
		position: relative;
		text-align: center;
	}
	.show-on-large {
		display: block !important;
	}
	.show-on-large img {
		padding-left: 30px;
		max-height: 90%;
		max-width: 90%;
	}
	.single-image-projects {
		max-width: 80%;
	}
}


/*Draws title section of pages*/

header {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: -50px;
	border: solid white 2px;
	border-radius: 20px;
	background-color: #b368a5;
	display: flex;
	justify-content: center;
	/*Gradient effect*/
	background: rgb(224,189,238);
	background: linear-gradient(0deg, rgba(224,189,238,1) 0%, rgba(255,190,242,1) 100%);
}


/*Stying for header text in title section of pages*/

header h1 {
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 45px;
}


/*Background color of pages*/

body {
	background-color: #b368a5;
}


/*Drawing navigation menu*/

nav {
	margin-top: 20px;
	width: 100%;
	background-color: #b368a5;
	border: 2px white solid;
	border-radius: 10px;
	/*Gradient effect*/
	background: rgb(224,189,238);
	background: linear-gradient(0deg, rgba(224,189,238,1) 0%, rgba(255,190,242,1) 100%);
}


/*Formatting the un-ordered list inside the navigation menu*/

nav ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: center;
	justify-content: center;
	border-style: solid white 2px;
}


/*Separating the list items (menu options in nav bar)*/

nav ul li {
	flex: 1;
	padding: 10px;
	border: solid white 1px;
}


/*Styling list items (menu options in nav bar)*/

nav ul li a {
	/*This code stretches the link's clickable area to fit its parent block.*/
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: center;
	/*Styling text of list items*/
	text-decoration: none;
	font-size: 24px;
	color: white;
	font-family: 'Raleway', sans-serif;
}


/*Effect that highlights list items (menu options in nav bar)*/

nav ul li:hover {
	background-color: #939AA4;
}


/*Drawing page header*/

#body-header-content {
	width: 90%;
	margin: 10px auto;
	padding: 5px;
	background-color: #b368a5;
	border: 3px solid white;
	border-radius: 15px;
	font-family: 'Raleway', sans-serif;
	/*Gradient effect*/
	background: rgb(234,210,244);
	background: linear-gradient(0deg, rgba(234,210,244,1) 0%, rgba(226,195,220,1) 100%);
}


/*Styling header above body of page(s)*/

#body-header-content h2 {
	font-size: 24px;
	color: white;
	text-shadow: 1px 1px 2px #A5AFBD;
	text-align: center;
}


/*Styling text above body of page*/

#body-header-content p {
	position: relative;
	color: white;
	text-align: center;
}


/*Drawing page body (white section with content)*/

#inner-header-content {
	width: 60%;
	margin: 10px auto;
	padding: 5px;
	background-color: whitesmoke;
	border: 3px solid white;
	border-radius: 15px;
	font-family: 'Raleway', sans-serif;
}


/*Altering text within white body section of page(s)*/

#inner-header-content p {
	position: relative;
	color: black;
	font-size: 20px;
}


/*Syling cover photo on homepage*/

#coverphoto {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	border-radius: 100px;
}


/*Drawing footer*/

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #db80ff;
	color: white;
	text-align: center;
	font-family: 'Raleway', sans-serif;
 }

 .footer a{
	text-decoration: none;
	color: lightgreen;
 }

/***********CSS SEPERATE FOR ABOUT PAGE BELOW***********/

.socialMediaLinks {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 150px;
	border-radius: 12px;
	background-color: rgb(77, 42, 77);
	display: flex;
	justify-content: center;
	color: white;
	text-decoration: none;
	font-size: 150%;
}

.socialMediaLinks:hover {
	text-shadow: 1px 1px black;
	font-size: 160%;
}

.socialMediaLinks:active {
	color: pink;
}

/***********CSS SEPERATE FOR CONTACT PAGE BELOW***********/

/*Formatting social media links for contact page*/

.badges {
	padding-top: 15px;
	display: flex;
	justify-content: center;
}

/***********CSS SEPERATE FOR SLIMES PAGE BELOW***********/


/*Shapes slime photo link*/

.slime-title {
	text-align: center;
	background: #e0bdee;
	padding: 5px;
	margin-left: 25%;
	margin-right: 25%;
	border-radius: 10px;
}

/*stretching link to make parent clickable for photo link*/

.slime-title a {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: center;
	color: white;
	text-decoration: none;
}


/*Hover effect for photo link*/

.slime-title:hover, .playgame-button:hover {
	background-color: #939AA4;
}


/*styling for the slime photos*/

.slimePhotos {
	max-width: 60%;
	/*padding-top: 20px;*/
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}


/* Making header items of list stand out in About Us page */

.header-list-item {
	padding-top: 20px;
	color: black;
}

/*Draws a line*/

.line {
	max-width: 100%;
	height: 47px;
	border-bottom: 1px solid black;
}


/*Draws the line used in the contact page*/

.line-contact {
	max-width: 100%;
	height: 15px;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}


/*Positioning for WIP photo*/

#wip-picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

/* applys wordbreak to all paragraphs. */

p {
	word-break: normal;
}
